.our-collection {
    font-size: 50px;      
}

.sentence {
    font-size: 20px;
}
img.flora, .tamara, .judie, .helena {
    width: 373.5px;
}

img.erica, .lilly, .caroline, .eloise {
    width: 373.5px;
}
img.julie-sheffeld {
    width: 120px;
}